# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# SQLite database
*.db
*.db-shm
*.db-wal

# User Secrets
secrets.json

# Logs
*.log
logs/

# Entregables separados
Documentacion Tecnica.docx

# Archivos temporales de Word y Windows
~$*
*.tmp

# OS
.DS_Store
Thumbs.db
